*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background: #efefef;
  
    font-family: sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 1000px;
  background: #fff;
  margin: 1em auto;
  border: 4px solid #e2e2e2;
  box-shadow: 0 10px 9px -6px #c5c5c5;
  border-top-width: 25px;
  border-bottom-width: 32px;
  border-radius: 8px;
  overflow: hidden;
}

div#calendar {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}

table {
  width: 100%;
  font-family: sans-serif;
  border-collapse: separate;
  border-spacing: 0;
}

.head_cal {
  background: #fff;
  color: #85baff;
  font-size: 2rem;
  line-height: 5rem;
  text-transform: uppercase;
}

.goto_today {
    padding: 15px;
    font-size: 1.25rem;
    border-radius: 5px;
    /*border: solid 1px #eee;*/
}
.goto_today:hover {
    background-color: #eee;
}

.cycle_month {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.25rem;
    border-radius: 50%;
    /*border: solid 1px #eee;*/
}
.cycle_month:hover {
    background-color: #eee;
}


.head_cal a {
    text-decoration: none;
    color: #85baff;
}

.subhead_cal {
  background: #85baff;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
}

.week_cal {
  background: #fff;
  color: #d7d7d7;
  font-size: 1rem;
  line-height: 2rem;
}

.white_cal {
  background: #ececec !important;
}

tbody.table {
    table-layout: fixed;
}

tbody.days_cal tr td a span {
  padding: 0;
  text-decoration: none;
  background: #fff;
  color: #888;
  /*min-height: 5rem;*/
  width: 100%;
  line-height: 2.0rem;
  display: block;
}

div.calendar_day {
  padding: 0;
  text-decoration: none;
  color: #888;
  min-height: 7rem;
  width: 100%;
  line-height: 2.0rem;
  display: block;
}

tbody.days_cal tr td {
  padding: 0;
  margin: 0;
  border: 1px solid #ececec;
  text-align: center;
  width: 14.28571428571429%;
  height: auto;
  background: #fff;
}

tbody.days_cal tr td {
  vertical-align: top;
}

.event {
  color: #85baff !important;
  transition: all 0.1s ease;
}

.today {
    font-weight: bold;
    transition: all 0.1s ease;
    border: 3px solid #dfdfdf;
    color: #85baff !important;
}

/*.today.calendar_event:hover,.calendar_event:hover {
  opacity: 0.5;
  transition: all 0.1s ease;
}*/

.week_event {
  color: #85baff;
}

#calendar_data {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #fff;
  color: #c5c5c5;
  opacity: 0;
  visibility: hidden;
  transform: scale(0, 0);
  transition: all 0.025s ease;
  border: 1px solid #dfdfdf;
  box-shadow: 0 10px 9px -6px #c5c5c5;
}
 
#calendar_data h3 {
  text-align: center;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0;
  background: #f2f2f2;
  color: #43aeef;
  border-bottom: 1px solid #dfdfdf;
  text-transform: capitalize;
}

.input_line {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
}

.create_event_wrapper {
    margin:auto;
    max-width:600px;
}

.input_line label {
    font-size: 15px;
    color: #666;
    
    margin-right: 10px;
}

.input_line input {
    width: 60%;
    float: right;
}
input.create_event {
    float: left;
    height: 2rem;
}
input.delete_event {
    float: right;
    height: 2rem;
}

.input_line textarea {
    width: 100%;
    max-width: 100%;
    height: 8rem;
    display: flex;
    justify-content: flex-end;
}

#calendar_data dl {
  padding: 0.5em;
  margin-left: 0;
  display: block;
  height: calc(100% - 4rem);
}

#calendar_data dt {
  float: left;
  clear: left;
  width: 5rem;
  text-align: left;
  font-size: 0.8rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #43b0ef;
  background: #fff;
  padding: 0.2rem;
}

#calendar_data dd {
  margin: 0 0 1rem 5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #adadad;
  border-bottom: 1px solid #eaeaea;
}

#calendar_data dd:last-child {
  border: none;
}
 
#calendar_data a:not(.hideEvent) {
  color: #43aeef;
  border: 0.1rem solid #43aeef;
  padding: 0.2rem 1rem;
  text-decoration: none;
}
.show_data {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1, 1) !important;
  transition: all 0.05s ease;
}

.hideEvent {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background: #f2f2f2;
  border-left: 0.1rem solid #e5e5e5;
  color: #d3d3d3 !important;
}

.hideEvent:hover {
  text-decoration: none;
  color: #f55;
}
 
.calendar_event {
    line-height: 1rem;
}

.calendar_day:hover .calendar_event_adder a {
    visibility: visible;
}

.calendar_event:hover a {
    font-weight: bold;
    background: #666; 
}

.calendar_event a {
    display: inline-block;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px; 
    margin-right: 5px;
    padding: 5px;

    width: 90%;
    
    text-decoration: none;
    font-family: sans-serif;
    
    background: #444; 
    font-size: 0.75rem;
    color: white;
}

.calendar_event_adder {
    background: #fff; 
    line-height: 1rem;
}

.calendar_event_adder a {
    visibility: hidden;
    display: inline-block;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 5px; 
    margin-right: 5px;
    padding: 5px;

    width: 90%;
    
    text-decoration: none;
    font-family: sans-serif;
    
    background: #444; 
    font-size: 0.75rem;
    color: white;
}

.calendar_event_adder:hover a {
    text-decoration: underline;
    background: #666 !important;
}